<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.WebView2" version="1.0.3650.58" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net462" />
  <package id="System.Text.Encoding.CodePages" version="4.7.1" targetFramework="net462" />
  <package id="UTF.Unknown" version="2.6.0" targetFramework="net462" />
</packages>